/***General***/
*
    font-family: 'Roboto'

.main-container 
    width: 100%
    max-width: 767px

body
    display: flex
    justify-content: center


.centerflex 
    display: flex
    justify-content: center
    align-items: center


.card__link
    color: black
    text-decoration: none

h1 
    padding-left: 20px


.cta 
    position: relative
    margin: auto
    box-shadow: 0px 4px 9px 0px #7E7E7E
    border-radius: 25px
    background: linear-gradient(#FF79DA,#9356DC)
    display: flex
    align-items: center
    width: 220px
    text-decoration: none
    color: white

.cta:hover 
    opacity:0.8

a  
    text-decoration: none
    color: white

/***LOADER***/
@keyframes fadeOut
    to
        opacity: 0%

.loader
    z-index: 100
    background: black
    position: fixed
    width: 100%
    height: 100vh
    top: 0.1%
    opacity: 90%
    animation: fadeOut 3s ease forwards
    animation-delay: 2s
    display: flex
    justify-content: center
    align-items: center
    pointer-events: none

@keyframes Smoke
    0%
        filter: blur(0px)
        transform: translateY(0px) scale(-1, 1)
    25%
        filter: blur(3px)
        transform: translateY(-10px) scale(-1, 1.05)
        opacity: 0.5
    50%
        filter: blur(5px)
        transform: translateY(-20px) scale(-1, 1.1)
        opacity: 1
    75%
        filter: blur(5px)
        transform: translateY(-30px) scale(-1, 1.15)
        opacity: 0.5
    100%
        filter: blur(7px)
        transform: translateY(-40px) scale(-1, 1.2)
        opacity: 0

@keyframes Smoke2
    0%
        filter: blur(0px)
        transform: translateY(0px) scale(1)
    25%
        filter: blur(3px)
        transform: translateY(-10px) scale(1.05)
        opacity: 0.5
    50%
        filter: blur(5px)
        transform: translateY(-20px) scale(1.1)
        opacity: 1
    75%
        filter: blur(5px)
        transform: translateY(-30px) scale(1.15)
        opacity: 0.5
    100%
        filter: blur(7px)
        transform: translateY(-40px) scale(1.2)
        opacity: 0

@keyframes Smoke3
    0%
        filter: blur(0px)
        transform: translateY(0px) scale(1)
    25%
        filter: blur(3px)
        transform: translateY(-20px) scale(1.05)
        opacity: 0.5
    50%
        filter: blur(5px)
        transform: translateY(-40px) scale(1.1)
        opacity: 1
    75%
        filter: blur(5px)
        transform: translateY(-60px) scale(1.15)
        opacity: 0.5
    100%
        filter: blur(7px)
        transform: translateY(-80px) scale(1.2)
        opacity: 0

.loader img
    max-width: 100%
    pointer-events: none

.loader_ramen_wrap
    width: 500px
    height: 600px
    position: relative
    pointer-events: none

.loader_ramen
    position: absolute
    bottom: 0
    pointer-events: none

.loader_smoke_wrap
    left: 50%
    position: absolute
    transform: translateX(-50%)
    bottom: 450px
    pointer-events: none

.loader_smoke, .loader_smoke2, .loader_smoke3
    filter: blur(5px)
    transform-origin: 50% 50%
    pointer-events: none

.loader_smoke
    animation: Smoke 3s linear infinite
    pointer-events: none

.loader_smoke2
    animation: Smoke2 3s linear infinite
    pointer-events: none

.loader_smoke3
    width: 300px
    animation: Smoke3 4s linear infinite
    animation-delay: 3s
    pointer-events: none

/***Header***/

.location__background--darkergray 
    background-color: #EAEAEA
    width: 100%
    padding-top: 10px
    padding-bottom: 10px
    border-top: 2px solid #7e7e7e

header i 
    position: relative 
    right: 15px
    bottom: 1px
      
.logo
    padding-top: 20px
    padding-bottom: 20px

/***Explorer***/

.explorer 
    background-color: #F6F6F6
    padding: 40px
    position: relative
    text-align: center

.explorer_title
    font-weight: 700
    font-size: 2.1em
    line-height: 28px

.explorer_text
    font-size: 1.2em



/***Functionning***/
.functioning_title 
    font-size: 30px
.functioning-instruction
    display: flex
    align-items: center
    flex-direction: column
    width: 100%
    gap: 20px
    padding-bottom: 50px
    
.instruction 
    background-color: #F6F6F6
    border-radius: 40px
    padding: 15px
    width: 80%
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.2))
   
.instruction-img
    position: relative
    left: 10%
    padding-right: 15%
    color: #7E7E7E

.instruction_txt
    font-weight:900
    font-size:1.2em

.instruction_number
    position: absolute
    left: -3%
    border-radius:55%
    width: 15px
    height:15px
    padding:10px
    background-color: #9356DC
    color: white

.instruction_flexstart
    justify-content: flex-start


/***Restaurants***/

.restaurants 
    padding-left: 0
    padding-right: 0
    margin: auto
    padding-top: 3%
    padding-bottom: 10%
    max-width: 100%
    background-color: #F7F7F7
    margin-top: 2%

.restaurants_title 
    display: inline
    width: 30%
    font-size: 30px

.restaurants_div 
    padding-top: 3%

.restaurants_card 
    box-shadow: 0px 4px 5px 0px #7E7E7E
    border-radius: 15px
    margin-bottom: 5%
    width: 95vw
    background-color: #FFFFFF
    margin-left: 1%
    height: 251px
    position: relative
    display: flex
    justify-content: space-between
    flex-direction: column


.restaurants_card img 
    width: 100%
    object-fit: cover
    overflow: hidden
    border-radius: 15px 15px 0px 0px
    align-self: stretch
    background-size: cover
    height: 160px

.restaurants_card-div 
    display: flex
    flex-direction: column
    justify-content: center
    padding-top:5px

.heart_card
    position: absolute
    right:5%
    font-size: 30px

.heart_card-anim
    color: transparent
    font-size: 30px

.heart_card-anim:hover
    color: transparent
    background: linear-gradient(#FF79DA,#9356DC)
    background-clip: text
    -webkit-background-clip: text
    transition: transform cubic-bezier(.37,.38,.8,.77)

.restaurants_title-card 
    margin: 3px 0
    padding-left:15px
    width: 80%

.restaurants_text-card 
    padding-left: 15px
    font-size: 1.2em
    margin: 4px 0 0 0

.card__link
    position: relative

.restaurants_card-new 
    background: #a9e0d1
    color: #3b8468
    font-weight: bold
    padding: 0.7rem 1.5rem
    border-radius: 0.3rem
    position: absolute
    top: 1.5rem
    right: 1rem
    z-index: 2

/***Footer***/

footer 
    padding :15px
    background-color: #353535
    
footer p 
    color: white
    
footer i 
    padding-right: 15px
    
footer img 
    height: 1.5em
    width: 9em
    padding-top:5px


/**** Breakpoints map ***/
@media (min-width: 768px)
    .main-container
        max-width: 1023.98px  
    .lign-1 , .lign-2
        display: flex
        justify-content: center     
        align-content: center
        padding: 0 20px 0 20px
        gap: 50px

@media (min-width: 1024px)
    .main-container
        max-width: 1440px
    /***functionning-instruction***/
    .functioning_title
        padding-left: 130px
        padding-top: 30px
    .functionning
        width: 100%
    .functioning-instruction
        flex-direction: row
        justify-content: center
    .instruction
        width:26%
    /***Restaurants***/
    .restaurants
        padding-bottom: 0
    .restaurants_title
        padding-left: 130px
    .restaurants_div
        padding-left: 3%
        padding-right: 3%
    .restaurants_card
        width: 40%
    .lign-1 , .lign-2
        display: flex
        justify-content: center     
        align-content: center
        gap: 50px
    /***footer***/
    .footer_content
        display: flex
        flex-direction: row-reverse
        gap: 20px
        align-items: center


        
        
    





