/***General***/
* {
  font-family: "Roboto";
}

.main-container {
  width: 100%;
  max-width: 767px;
}

body {
  display: flex;
  justify-content: center;
}

.centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__link {
  color: black;
  text-decoration: none;
}

.cta {
  position: relative;
  margin: auto;
  box-shadow: 0px 4px 9px 0px #7E7E7E;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  display: flex;
  align-items: center;
  width: 220px;
  text-decoration: none;
  color: white;
}

.cta:hover {
  opacity: 0.8;
}

/***Header***/
.logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.return_arrow {
  position: relative;
  bottom: 35px;
  left: 20px;
}

/***Section Menu***/
.background_picture1 {
  background-image: url("../images/restaurants/jay-wennington.jpg");
  background-size: cover;
  height: 300px;
  position: relative;
}

.background_picture2 {
  background-image: url("../images/restaurants/louis-hansel.jpg");
  background-size: cover;
  height: 300px;
  position: relative;
}

.background_picture3 {
  background-image: url("../images/restaurants/restaurant3copie.jpg");
  background-size: cover;
  height: 300px;
  position: relative;
}

.background_picture4 {
  background-image: url("../images/restaurants/restaurant4.jpg");
  background-size: cover;
  height: 300px;
  position: relative;
}

.menu_section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  background-color: #F7F7F7;
}

.menu_background {
  background-color: #F7F7F7;
  border-radius: 20px 20px 0px 0px;
  bottom: 60px;
  position: relative;
}

.entete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 20px;
}

.entete i {
  font-size: 1.6em;
  font-weight: 400;
}

.menu_title {
  font-size: 2.2em;
  font-family: Shrikhand;
  font-weight: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu_content {
  padding: 0 20px 0 40px;
}

.menu_content-title {
  font-weight: 100;
  font-size: 1.6em;
}

.menu_content-title-bc {
  border-bottom: 4px solid #99E2D0;
  width: 60px;
}

.menu_card {
  box-shadow: 0px 4px 5px 0px #7E7E7E;
  border-radius: 15px;
  width: 95%;
  background-color: #FFFFFF;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.menu_text {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.content_price {
  font-weight: 900;
}

.menu_card-title {
  padding-left: 20px;
}

.btn_padding {
  margin-top: 60px;
  margin-bottom: 20px;
}

/***Footer***/
footer {
  background-color: #353535;
  width: 100%;
}

.footer_content {
  color: white;
  padding: 20px;
}

footer i {
  padding-right: 10px;
}

footer img {
  height: 1.5em;
  width: 9em;
  padding-top: 5px;
}

@media (min-width: 1024px) {
  .main-container {
    max-width: 1440px;
  }
  /***Menu***/
  .entete {
    justify-content: center;
    padding-top: 60px;
  }
  .menu_content {
    padding-left: 200px;
    padding-right: 200px;
  }
  .menu_section {
    padding-bottom: 0;
    background-color: white;
  }
  .menu_background {
    margin: 0 100px 0 100px;
    padding-bottom: 50px;
    bottom: 20px;
  }
  footer {
    position: relative;
    bottom: 20px;
  }
}/*# sourceMappingURL=stylesmenu.css.map */